In [3]:
import pandas as pd
import numpy as np

In [4]:
car=pd.read_csv('cardekho_updated.csv')

In [5]:
car.head()

,full_name,selling_price,new_price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.2 Lakh*,NaN,2012,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,Engine796 CC,Max Power46.3 bhp,Seats5
1,Hyundai Grand i10 Asta,5.5 Lakh*,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,Engine1197 CC,Max Power82 bhp,Seats5
2,Hyundai i20 Asta,2.15 Lakh*,NaN,2010,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,Engine1197 CC,Max Power80 bhp,Seats5
3,Maruti Alto K10 2010-2014 VXI,2.26 Lakh*,NaN,2012,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,Engine998 CC,Max Power67.1 bhp,Seats5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.7 Lakh*,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,Engine1498 CC,Max Power98.59 bhp,Seats5

In [6]:
car.shape

(19974, 13)

In [7]:
car.info

<bound method DataFrame.info of                                             full_name selling_price  \
0                                     Maruti Alto Std     1.2 Lakh*
1                              Hyundai Grand i10 Asta     5.5 Lakh*
2                                    Hyundai i20 Asta    2.15 Lakh*
3                       Maruti Alto K10 2010-2014 VXI    2.26 Lakh*
4      Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV     5.7 Lakh*
...                                               ...           ...
19969                   Toyota Platinum Etios 1.4 GXD     6.5 Lakh*
19970                          Maruti Ertiga BSIV VXI    9.25 Lakh*
19971                    Skoda Rapid 1.5 TDI Elegance    4.25 Lakh*
19972                          Mahindra XUV500 W6 2WD   12.25 Lakh*
19973                        Honda City i-VTEC CVT VX      12 Lakh*

                                            new_price  year seller_type  \
0                                                 NaN  2012  Individual
1        New Car (On-Road Price) : Rs.7.11-7.48 Lakh*  2016  Individual
2                                                 NaN  2010  Individual
3                                                 NaN  2012  Individual
4      New Car (On-Road Price) : Rs.10.14-13.79 Lakh*  2015      Dealer
...                                               ...   ...         ...
19969                                             NaN  2017      Dealer
19970                                             NaN  2019      Dealer
19971                                             NaN  2015      Dealer
19972  New Car (On-Road Price) : Rs.17.83-24.91 Lakh*  2016      Dealer
19973                                             NaN  2019      Dealer

           km_driven   owner_type fuel_type transmission_type  \
0       1,20,000 kms  First Owner    Petrol            Manual
1         20,000 kms  First Owner    Petrol            Manual
2         60,000 kms  First Owner    Petrol            Manual
3         37,000 kms  First Owner    Petrol            Manual
4         30,000 kms  First Owner    Diesel            Manual
...              ...          ...       ...               ...
19969     69,480 kms  First Owner    Diesel            Manual
19970     18,000 kms  First Owner    Petrol            Manual
19971     67,000 kms  First Owner    Diesel            Manual
19972  38,00,000 kms  First Owner    Diesel            Manual
19973     13,000 kms  First Owner    Petrol         Automatic

                 mileage         engine            max_power   seats
0       Mileage19.7 kmpl   Engine796 CC    Max Power46.3 bhp  Seats5
1       Mileage18.9 kmpl  Engine1197 CC      Max Power82 bhp  Seats5
2       Mileage17.0 kmpl  Engine1197 CC      Max Power80 bhp  Seats5
3      Mileage20.92 kmpl   Engine998 CC    Max Power67.1 bhp  Seats5
4      Mileage22.77 kmpl  Engine1498 CC   Max Power98.59 bhp  Seats5
...                  ...            ...                  ...     ...
19969  Mileage23.59 kmpl  Engine1364 CC   Max Power67.05 bhp  Seats5
19970   Mileage17.5 kmpl  Engine1373 CC    Max Power91.1 bhp  Seats7
19971  Mileage21.14 kmpl  Engine1498 CC  Max Power103.52 bhp  Seats5
19972   Mileage16.0 kmpl  Engine2179 CC     Max Power140 bhp  Seats7
19973   Mileage18.0 kmpl  Engine1497 CC   Max Power117.6 bhp  Seats5

[19974 rows x 13 columns]>

In [8]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19974 entries, 0 to 19973
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          19974 non-null  object
 1   selling_price      19974 non-null  object
 2   new_price          9564 non-null   object
 3   year               19974 non-null  int64
 4   seller_type        19974 non-null  object
 5   km_driven          19974 non-null  object
 6   owner_type         19974 non-null  object
 7   fuel_type          19974 non-null  object
 8   transmission_type  19974 non-null  object
 9   mileage            19814 non-null  object
 10  engine             19864 non-null  object
 11  max_power          19637 non-null  object
 12  seats              19887 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.0+ MB

In [9]:
car['year'].unique()

array([2012, 2016, 2010, 2015, 2013, 2018, 2019, 2017, 2014, 2011, 2007,
       2009, 2004, 2020, 2006, 2008, 2000, 2005, 2002, 1999, 2003, 1997,
       2001, 1992, 2021, 1998, 1991, 1996], dtype=int64)

In [10]:
car['selling_price'].unique()

array(['1.2 Lakh*', '5.5 Lakh*', '2.15 Lakh*', ..., '52.95 Lakh*',
       '16.4 Lakh*', '4.56 Lakh*'], dtype=object)

In [11]:
car['km_driven'].unique()

array(['1,20,000 kms', '20,000 kms', '60,000 kms', ..., '10,723 kms',
       '69,480 kms', '38,00,000 kms'], dtype=object)

In [12]:
car['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [13]:
car['owner_type'].unique()

array(['First Owner'], dtype=object)

In [14]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [15]:
car['transmission_type'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [16]:
car['mileage'].unique()

array(['Mileage19.7 kmpl', 'Mileage18.9 kmpl', 'Mileage17.0 kmpl',
       'Mileage20.92 kmpl', 'Mileage22.77 kmpl', 'Mileage20.36 kmpl',
       'Mileage20.51 kmpl', 'Mileage18.15 kmpl', 'Mileage18.49 kmpl',
       'Mileage19.09 kmpl', 'Mileage20.37 kmpl', 'Mileage16.6 kmpl',
       'Mileage19.34 kmpl', 'Mileage22.32 kmpl', 'Mileage19.64 kmpl',
       'Mileage14.41 kmpl', 'Mileage28.09 kmpl', 'Mileage25.2 kmpl',
       'Mileage19.27 kmpl', 'Mileage28.4 kmpl', 'Mileage12.99 kmpl',
       'Mileage21.4 kmpl', 'Mileage20.85 kmpl', 'Mileage17.8 kmpl',
       'Mileage16.09 kmpl', 'Mileage19.67 kmpl', 'Mileage14.02 kmpl',
       'Mileage17.4 kmpl', 'Mileage13.6 kmpl', 'Mileage26.59 kmpl',
       'Mileage17.7 kmpl', 'Mileage17.19 kmpl', 'Mileage13.0 kmpl',
       'Mileage23.01 kmpl', 'Mileage18.6 kmpl', 'Mileage17.92 kmpl',
       'Mileage15.1 kmpl', 'Mileage23.4 kmpl', 'Mileage14.0 kmpl',
       'Mileage22.1 kmpl', 'Mileage19.1 kmpl', 'Mileage22.54 kmpl',
       'Mileage18.0 kmpl', 'Mileage16.1 kmpl', 'Mileage20.5 kmpl',
       'Mileage12.2 kmpl', 'Mileage21.0 kmpl', 'Mileage26.0 kmpl',
       'Mileage17.6 kmpl', 'Mileage15.4 kmpl', 'Mileage20.89 kmpl',
       'Mileage14.53 kmpl', 'Mileage26.6 km/kg', 'Mileage22.5 kmpl',
       'Mileage25.0 kmpl', 'Mileage25.4 kmpl', 'Mileage16.8 kmpl',
       'Mileage20.54 kmpl', 'Mileage17.3 kmpl', 'Mileage24.0 kmpl',
       'Mileage18.16 kmpl', 'Mileage21.21 kmpl', 'Mileage23.5 kmpl',
       'Mileage25.17 kmpl', 'Mileage24.3 kmpl', 'Mileage18.5 kmpl',
       'Mileage23.84 kmpl', 'Mileage18.78 kmpl', 'Mileage11.74 kmpl',
       'Mileage25.1 kmpl', 'Mileage21.01 kmpl', 'Mileage22.74 kmpl',
       'Mileage21.9 kmpl', 'Mileage25.44 kmpl', 'Mileage15.6 kmpl',
       'Mileage23.59 kmpl', 'Mileage22.07 kmpl', 'Mileage22.0 kmpl',
       'Mileage23.1 kmpl', 'Mileage23.0 kmpl', 'Mileage19.08 kmpl',
       'Mileage18.27 kmpl', 'Mileage20.45 kmpl', 'Mileage23.9 kmpl',
       'Mileage14.66 kmpl', 'Mileage20.14 kmpl', 'Mileage19.81 kmpl',
       'Mileage19.44 kmpl', 'Mileage18.59 kmpl', 'Mileage20.62 kmpl',
       'Mileage17.01 kmpl', nan, 'Mileage17.5 kmpl', 'Mileage12.05 kmpl',
       'Mileage25.83 kmpl', 'Mileage21.79 kmpl', 'Mileage13.7 kmpl',
       'Mileage16.47 kmpl', 'Mileage20.7 kmpl', 'Mileage17.71 kmpl',
       'Mileage10.91 kmpl', 'Mileage25.8 kmpl', 'Mileage25.32 kmpl',
       'Mileage14.49 kmpl', 'Mileage19.87 kmpl', 'Mileage18.7 kmpl',
       'Mileage14.4 km/kg', 'Mileage18.2 kmpl', 'Mileage13.5 kmpl',
       'Mileage22.69 kmpl', 'Mileage21.1 kmpl', 'Mileage13.01 kmpl',
       'Mileage15.3 kmpl', 'Mileage20.73 kmpl', 'Mileage12.8 kmpl',
       'Mileage16.55 kmpl', 'Mileage20.0 kmpl', 'Mileage21.5 kmpl',
       'Mileage24.7 kmpl', 'Mileage21.12 kmpl', 'Mileage16.78 kmpl',
       'Mileage19.4 kmpl', 'Mileage23.95 kmpl', 'Mileage21.63 kmpl',
       'Mileage14.4 kmpl', 'Mileage17.43 kmpl', 'Mileage23.65 kmpl',
       'Mileage15.73 kmpl', 'Mileage25.47 kmpl', 'Mileage33.54 km/kg',
       'Mileage15.96 kmpl', 'Mileage21.19 kmpl', 'Mileage21.64 kmpl',
       'Mileage23.08 kmpl', 'Mileage12.55 kmpl', 'Mileage16.9 kmpl',
       'Mileage12.33 kmpl', 'Mileage21.43 kmpl', 'Mileage18.06 kmpl',
       'Mileage22.3 kmpl', 'Mileage12.9 kmpl', 'Mileage17.84 kmpl',
       'Mileage27.28 kmpl', 'Mileage24.4 kmpl', 'Mileage24.04 kmpl',
       'Mileage22.7 kmpl', 'Mileage13.2 kmpl', 'Mileage16.0 kmpl',
       'Mileage21.7 kmpl', 'Mileage16.84 kmpl', 'Mileage14.28 kmpl',
       'Mileage17.14 kmpl', 'Mileage19.6 kmpl', 'Mileage20.4 kmpl',
       'Mileage12.63 kmpl', 'Mileage17.1 kmpl', 'Mileage15.37 kmpl',
       'Mileage19.01 kmpl', 'Mileage11.4 kmpl', 'Mileage13.68 kmpl',
       'Mileage17.68 kmpl', 'Mileage12.3 kmpl', 'Mileage19.0 kmpl',
       'Mileage17.21 kmpl', 'Mileage12.19 kmpl', 'Mileage17.33 kmpl',
       'Mileage20.77 kmpl', 'Mileage12.07 kmpl', 'Mileage20.3 kmpl',
       'Mileage27.39 kmpl', 'Mileage16.36 kmpl', 'Mileage15.8 kmpl',
       'Mileage17.45 kmpl', 'Mileage11.29 kmpl', 'Mileage20.52 kmpl',
       'Mileage18.0 km/kg', 'Mileage31.79 km/kg', 'Mileage9.17 kmpl',
       'Mileage13.73 kmpl', 'Mileage20.8 kmpl', 'Mileage9.0 kmpl',
       'Mileage19.3 kmpl', 'Mileage17.0 km/kg', 'Mileage26.21 kmpl',
       'Mileage18.1 kmpl', 'Mileage22.9 kmpl', 'Mileage14.94 kmpl',
       'Mileage13.38 kmpl', 'Mileage22.95 kmpl', 'Mileage17.9 kmpl',
       'Mileage15.0 kmpl', 'Mileage10.1 kmpl', 'Mileage17.41 kmpl',
       'Mileage11.5 kmpl', 'Mileage17.03 kmpl', 'Mileage16.95 kmpl',
       'Mileage16.2 kmpl', 'Mileage13.9 kmpl', 'Mileage10.0 kmpl',
       'Mileage12.4 kmpl', 'Mileage15.81 kmpl', 'Mileage14.21 kmpl',
       'Mileage15.15 kmpl', 'Mileage18.12 kmpl', 'Mileage30.46 km/kg',
       'Mileage14.7 kmpl', 'Mileage17.05 kmpl', 'Mileage21.94 km/kg',
       'Mileage24.52 kmpl', 'Mileage17.57 kmpl', 'Mileage13.14 kmpl',
       'Mileage14.84 kmpl', 'Mileage15.5 kmpl', 'Mileage20.58 kmpl',
       'Mileage26.2 km/kg', 'Mileage20.63 kmpl', 'Mileage10.26 kmpl',
       'Mileage33.44 km/kg', 'Mileage16.98 kmpl', 'Mileage17.2 kmpl',
       'Mileage23.26 kmpl', 'Mileage17.97 kmpl', 'Mileage11.36 kmpl',
       'Mileage17.99 kmpl', 'Mileage21.13 kmpl', 'Mileage20.68 kmpl',
       'Mileage15.04 kmpl', 'Mileage15.26 kmpl', 'Mileage13.49 kmpl',
       'Mileage11.57 kmpl', 'Mileage19.12 kmpl', 'Mileage15.17 kmpl',
       'Mileage22.05 kmpl', 'Mileage11.8 kmpl', 'Mileage18.48 kmpl',
       'Mileage19.2 kmpl', 'Mileage13.93 kmpl', 'Mileage15.1 km/kg',
       'Mileage16.93 kmpl', 'Mileage18.25 kmpl', 'Mileage19.49 kmpl',
       'Mileage21.1 km/kg', 'Mileage26.32 kmpl', 'Mileage13.8 kmpl',
       'Mileage19.83 kmpl', 'Mileage22.37 kmpl', 'Mileage9.5 kmpl',
       'Mileage11.72 kmpl', 'Mileage19.16 kmpl', 'Mileage16.7 kmpl',
       'Mileage27.3 kmpl', 'Mileage19.5 kmpl', 'Mileage19.62 kmpl',
       'Mileage21.66 kmpl', 'Mileage22.27 kmpl', 'Mileage32.52 km/kg',
       'Mileage21.04 kmpl', 'Mileage11.3 kmpl', 'Mileage15.74 kmpl',
       'Mileage10.5 kmpl', 'Mileage18.69 kmpl', 'Mileage19.68 kmpl',
       'Mileage20.0 km/kg', 'Mileage17.66 kmpl', 'Mileage12.0 kmpl',
       'Mileage15.29 kmpl', 'Mileage14.3 kmpl', 'Mileage23.03 kmpl',
       'Mileage15.7 kmpl', 'Mileage23.2 kmpl', 'Mileage16.02 kmpl',
       'Mileage15.64 kmpl', 'Mileage15.85 kmpl', 'Mileage19.69 kmpl',
       'Mileage16.5 kmpl', 'Mileage22.48 kmpl', 'Mileage15.2 kmpl',
       'Mileage14.95 kmpl', 'Mileage17.3 km/kg', 'Mileage22.71 kmpl',
       'Mileage14.62 kmpl', 'Mileage18.3 kmpl', 'Mileage23.7 kmpl',
       'Mileage17.67 kmpl', 'Mileage12.7 kmpl', 'Mileage10.75 kmpl',
       'Mileage19.98 kmpl', 'Mileage20.65 kmpl', 'Mileage21.38 kmpl',
       'Mileage13.2 km/kg', 'Mileage20.28 kmpl', 'Mileage11.33 kmpl',
       'Mileage17.11 kmpl', 'Mileage17.88 kmpl', 'Mileage22.15 kmpl',
       'Mileage11.1 kmpl', 'Mileage21.2 kmpl', 'Mileage8.45 kmpl',
       'Mileage20.41 kmpl', 'Mileage21.14 kmpl', 'Mileage9.52 kmpl',
       'Mileage24.2 kmpl', 'Mileage18.8 kmpl', 'Mileage16.25 kmpl',
       'Mileage18.88 kmpl', 'Mileage20.34 kmpl', 'Mileage16.51 kmpl',
       'Mileage11.79 kmpl', 'Mileage16.3 kmpl', 'Mileage11.7 kmpl',
       'Mileage25.5 kmpl', 'Mileage11.88 km/kg', 'Mileage18.9 km/kg',
       'Mileage12.5 kmpl', 'Mileage19.72 kmpl', 'Mileage14.23 kmpl',
       'Mileage14.1 kmpl', 'Mileage14.12 kmpl', 'Mileage13.55 kmpl',
       'Mileage11.25 kmpl', 'Mileage12.37 kmpl', 'Mileage14.9 kmpl',
       'Mileage13.33 kmpl', 'Mileage13.4 kmpl', 'Mileage16.38 kmpl',
       'Mileage11.68 kmpl', 'Mileage13.96 kmpl', 'Mileage19.56 kmpl',
       'Mileage11.0 kmpl', 'Mileage10.2 kmpl', 'Mileage15.9 kmpl',
       'Mileage27.62 kmpl', 'Mileage19.95 kmpl', 'Mileage13.1 kmpl',
       'Mileage20.46 kmpl', 'Mileage12.39 kmpl', 'Mileage27.4 kmpl',
       'Mileage11.18 kmpl', 'Mileage13.3 km/kg', 'Mileage18.23 kmpl',
       'Mileage22.8 km/kg', 'Mileage14.59 kmpl', 'Mileage18.19 kmpl',
       'Mileage14.8 kmpl', 'Mileage23.8 kmpl', 'Mileage19.33 kmpl',
       'Mileage20.64 kmpl', 'Mileage26.83 km/kg', 'Mileage19.0 km/kg',
       'Mileage26.1 kmpl', 'Mileage17.5 km/kg', 'Mileage14.67 kmpl',
       'Mileage19.59 kmpl', 'Mileage12.81 kmpl', 'Mileage13.58 kmpl',
       'Mileage26.8 kmpl', 'Mileage13.24 kmpl', 'Mileage10.8 kmpl',
       'Mileage14.39 kmpl', 'Mileage18.56 kmpl', 'Mileage26.08 km/kg',
       'Mileage12.98 kmpl', 'Mileage18.24 kmpl', 'Mileage12.83 kmpl',
       'Mileage18.53 kmpl', 'Mileage12.1 kmpl', 'Mileage20.86 kmpl',
       'Mileage24.5 kmpl', 'Mileage7.81 kmpl', 'Mileage26.55 km/kg',
       'Mileage15.3 km/kg', 'Mileage13.45 km/kg', 'Mileage18.51 kmpl',
       'Mileage19.16 km/hr', 'Mileage30.48 km/kg', 'Mileage20.38 kmpl',
       'Mileage21.3 kmpl', 'Mileage14.04 kmpl', 'Mileage17.32 kmpl',
       'Mileage18.4 kmpl', 'Mileage14.83 kmpl', 'Mileage16.8 km/kg',
       'Mileage20.04 kmpl', 'Mileage30.47 km/kg', 'Mileage15.4 km/kg',
       'Mileage12.97 kmpl', 'Mileage16.4 kmpl', 'Mileage14.2 kmpl',
       'Mileage16.07 kmpl', 'Mileage14.24 kmpl', 'Mileage21.03 kmpl',
       'Mileage25.01 kmpl', 'Mileage14.69 kmpl', 'Mileage21.76 kmpl',
       'Mileage21.49 kmpl', 'Mileage21.27 kmpl', 'Mileage14.71 kmpl',
       'Mileage11.49 kmpl', 'Mileage21.56 kmpl', 'Mileage19.71 kmpl',
       'Mileage17.42 kmpl', 'Mileage16.73 kmpl', 'Mileage16.11 kmpl',
       'Mileage11.45 kmpl', 'Mileage18.44 kmpl', 'Mileage14.5 kmpl',
       'Mileage19.02 kmpl', 'Mileage14.75 kmpl', 'Mileage25.6 kmpl',
       'Mileage24.07 kmpl', 'Mileage23.57 kmpl', 'Mileage10.13 kmpl',
       'Mileage16.05 kmpl', 'Mileage10.93 kmpl', 'Mileage24.12 kmpl',
       'Mileage24.8 kmpl', 'Mileage16.0 km/kg', 'Mileage21.02 kmpl',
       'Mileage12.35 kmpl', 'Mileage20.2 kmpl', 'Mileage21.74 kmpl',
       'Mileage15.63 kmpl', 'Mileage14.6 kmpl', 'Mileage15.42 kmpl',
       'Mileage14.74 kmpl', 'Mileage15.34 kmpl', 'Mileage6.4 kmpl',
       'Mileage14.47 kmpl', 'Mileage24.29 kmpl', 'Mileage14.16 kmpl',
       'Mileage12.12 kmpl', 'Mileage16.77 kmpl', 'Mileage19.61 kmpl',
       'Mileage18.33 kmpl', 'Mileage22.1 km/kg', 'Mileage13.04 kmpl',
       'Mileage14.19 kmpl', 'Mileage15.11 kmpl', 'Mileage16.52 kmpl',
       'Mileage18.76 kmpl', 'Mileage10.9 km/kg', 'Mileage13.44 kmpl',
       'Mileage17.09 kmpl', 'Mileage16.46 kmpl', 'Mileage9.43 kmpl',
       'Mileage13.79 kmpl', 'Mileage16.65 kmpl', 'Mileage8.0 kmpl',
       'Mileage16.96 kmpl', 'Mileage20.88 km/kg', 'Mileage15.87 kmpl',
       'Mileage15.97 kmpl', 'Mileage4.0 kmpl', 'Mileage14.07 kmpl',
       'Mileage9.26 kmpl', 'Mileage12.65 kmpl', 'Mileage23.3 kmpl',
       'Mileage10.34 kmpl', 'Mileage20.35 kmpl', 'Mileage14.42 kmpl',
       'Mileage15.9 km/kg', 'Mileage17.72 kmpl', 'Mileage20.71 kmpl',
       'Mileage9.8 kmpl', 'Mileage21.8 kmpl', 'Mileage12.4 km/kg',
       'Mileage19.39 kmpl', 'Mileage14.09 kmpl', 'Mileage11.2 kmpl',
       'Mileage14.6 km/kg', 'Mileage10.9 kmpl', 'Mileage21.58 kmpl',
       'Mileage21.72 kmpl', 'Mileage32.26 km/kg', 'Mileage16.6 km/kg',
       'Mileage7.5 kmpl', 'Mileage16.34 kmpl', 'Mileage23.87 kmpl',
       'Mileage17.15 kmpl', 'Mileage11.9 kmpl', 'Mileage12.08 kmpl',
       'Mileage19.23 kmpl', 'Mileage14.56 kmpl', 'Mileage14.81 kmpl',
       'Mileage21.73 kmpl', 'Mileage23.19 kmpl', 'Mileage11.56 kmpl',
       'Mileage17.8 km/kg', 'Mileage26.82 kmpl', 'Mileage12.51 kmpl',
       'Mileage15.68 kmpl', 'Mileage13.22 kmpl', 'Mileage15.06 kmpl',
       'Mileage14.57 kmpl', 'Mileage10.3 kmpl', 'Mileage9.3 kmpl',
       'Mileage24.1 kmpl', 'Mileage12.6 kmpl', 'Mileage8.6 kmpl',
       'Mileage19.2 km/kg', 'Mileage9.1 kmpl', 'Mileage25.0 km/kg',
       'Mileage9.74 kmpl', 'Mileage11.96 kmpl', 'Mileage9.9 kmpl',
       'Mileage19.05 kmpl', 'Mileage12.62 kmpl', 'Mileage10.37 kmpl',
       'Mileage11.81 kmpl', 'Mileage18.32 kmpl', 'Mileage19.91 kmpl',
       'Mileage18.57 kmpl', 'Mileage15.41 kmpl', 'Mileage110.0 km/hr',
       'Mileage8.9 kmpl', 'Mileage14.11 kmpl', 'Mileage8.5 kmpl',
       'Mileage23.91 kmpl', 'Mileage15.05 kmpl', 'Mileage14.08 kmpl',
       'Mileage7.94 kmpl', 'Mileage9.4 kmpl', 'Mileage10.6 kmpl',
       'Mileage13.87 kmpl', 'Mileage12.28 kmpl', 'Mileage11.78 kmpl',
       'Mileage6.0 kmpl', 'Mileage26.8 km/kg', 'Mileage17.54 kmpl',
       'Mileage11.31 kmpl', 'Mileage17.85 kmpl', 'Mileage14.38 kmpl',
       'Mileage10.4 kmpl', 'Mileage18.97 kmpl', 'Mileage15.01 kmpl',
       'Mileage17.24 kmpl', 'Mileage13.29 kmpl', 'Mileage16.28 kmpl',
       'Mileage19.19 kmpl', 'Mileage20.6 kmpl', 'Mileage8.77 kmpl',
       'Mileage120.0 km/hr', 'Mileage17.61 kmpl', 'Mileage18.42 kmpl',
       'Mileage17.36 kmpl', 'Mileage12.95 kmpl', 'Mileage14.99 kmpl',
       'Mileage13.17 kmpl', 'Mileage15.92 kmpl', 'Mileage10.71 kmpl',
       'Mileage17.69 kmpl', 'Mileage16.12 kmpl', 'Mileage18.84 kmpl',
       'Mileage10.98 kmpl', 'Mileage19.65 kmpl', 'Mileage25.4 km/kg',
       'Mileage17.74 kmpl', 'Mileage17.18 kmpl', 'Mileage14.53 km/kg',
       'Mileage19.15 kmpl', 'Mileage13.53 kmpl', 'Mileage18.15 km/kg'],
      dtype=object)

In [17]:
car['engine'].unique()

array(['Engine796 CC', 'Engine1197 CC', 'Engine998 CC', 'Engine1498 CC',
       'Engine1493 CC', 'Engine1405 CC', 'Engine1461 CC', 'Engine1198 CC',
       'Engine1582 CC', 'Engine1998 CC', 'Engine1248 CC', 'Engine2143 CC',
       'Engine2494 CC', 'Engine1598 CC', 'Engine2179 CC', 'Engine1497 CC',
       'Engine2523 CC', 'Engine2982 CC', 'Engine999 CC', 'Engine1199 CC',
       'Engine1086 CC', 'Engine2498 CC', 'Engine1396 CC', 'Engine1817 CC',
       'Engine624 CC', 'Engine1496 CC', 'Engine1590 CC', 'Engine1798 CC',
       'Engine1186 CC', 'Engine1794 CC', 'Engine1997 CC', 'Engine1120 CC',
       'Engine1196 CC', 'Engine1061 CC', 'Engine909 CC', 'Engine799 CC',
       'Engine1796 CC', 'Engine936 CC', 'Engine1364 CC', 'Engine2199 CC',
       'Engine2993 CC', 'Engine1298 CC', 'Engine3198 CC', 'Engine1399 CC',
       'Engine2477 CC', 'Engine1995 CC', 'Engine2956 CC', 'Engine1373 CC',
       'Engine1591 CC', 'Engine2354 CC', 'Engine1968 CC', 'Engine1047 CC',
       'Engine1353 CC', 'Engine1991 CC', 'Engine2755 CC', 'Engine1395 CC',
       'Engine1193 CC', 'Engine1896 CC', 'Engine1999 CC', 'Engine2953 CC',
       'Engine2393 CC', 'Engine2967 CC', 'Engine2998 CC', 'Engine2995 CC',
       'Engine2694 CC', 'Engine4461 CC', 'Engine1586 CC', 'Engine6752 CC',
       'Engine1956 CC', 'Engine1462 CC', 'Engine814 CC', 'Engine995 CC',
       'Engine1799 CC', 'Engine2499 CC', 'Engine1451 CC', 'Engine1194 CC',
       'Engine1969 CC', 'Engine2400 CC', nan, 'Engine993 CC',
       'Engine1150 CC', 'Engine1299 CC', 'Engine1495 CC', 'Engine2487 CC',
       'Engine3604 CC', 'Engine1499 CC', 'Engine2987 CC', 'Engine970 CC',
       'Engine1489 CC', 'Engine1599 CC', 'Engine2835 CC', 'Engine1172 CC',
       'Engine1950 CC', 'Engine2489 CC', 'Engine2148 CC', 'Engine4134 CC',
       'Engine4951 CC', 'Engine1984 CC', 'Engine2979 CC', 'Engine2609 CC',
       'Engine1242 CC', 'Engine1390 CC', 'Engine2092 CC', 'Engine2997 CC',
       'Engine1368 CC', 'Engine5998 CC', 'Engine1330 CC', 'Engine2359 CC',
       'Engine2200 CC', 'Engine1596 CC', 'Engine3598 CC', 'Engine2362 CC',
       'Engine793 CC', 'Engine2696 CC', 'Engine2112 CC', 'Engine3597 CC',
       'Engine1388 CC', 'Engine72 CC', 'Engine2360 CC', 'Engine5461 CC',
       'Engine1343 CC', 'Engine2446 CC', 'Engine2497 CC', 'Engine1595 CC',
       'Engine4367 CC', 'Engine3498 CC', 'Engine2776 CC', 'Engine1797 CC',
       'Engine1422 CC', 'Engine1985 CC', 'Engine1948 CC', 'Engine2698 CC',
       'Engine5204 CC', 'Engine2231 CC', 'Engine2999 CC', 'Engine1173 CC',
       'Engine1108 CC', 'Engine3855 CC', 'Engine2197 CC', 'Engine1341 CC',
       'Engine1994 CC', 'Engine2902 CC', 'Engine1389 CC', 'Engine4806 CC',
       'Engine1468 CC', 'Engine3189 CC', 'Engine2147 CC', 'Engine4999 CC',
       'Engine1597 CC', 'Engine3200 CC', 'Engine2771 CC', 'Engine2157 CC',
       'Engine2706 CC', 'Engine2349 CC', 'Engine3436 CC', 'Engine3628 CC',
       'Engine2198 CC', 'Engine2996 CC', 'Engine4395 CC', 'Engine2000 CC',
       'Engine3456 CC', 'Engine4663 CC', 'Engine2773 CC', 'Engine6592 CC',
       'Engine2184 CC', 'Engine2495 CC', 'Engine1781 CC', 'Engine4163 CC',
       'Engine2453 CC', 'Engine2596 CC'], dtype=object)

In [18]:
car['max_power'].unique()

array(['Max Power46.3 bhp', 'Max Power82 bhp', 'Max Power80 bhp',
       'Max Power67.1 bhp', 'Max Power98.59 bhp', 'Max Power78.9 bhp',
       'Max Power67.04 bhp', 'Max Power118.35 bhp', 'Max Power100 bhp',
       'Max Power69.01 bhp', 'Max Power108.49 bhp', 'Max Power85 bhp',
       'Max Power76 bhp', 'Max Power126.32 bhp', 'Max Power108.45 bhp',
       'Max Power189.08 bhp', 'Max Power88.5 bhp', 'Max Power74 bhp',
       'Max Power170 bhp', 'Max Power100.6 bhp', 'Max Power83.1 bhp',
       'Max Power83.14 bhp', 'Max Power103.2 bhp', 'Max Power126.2 bhp',
       'Max Power118.3 bhp', 'Max Power117.3 bhp', 'Max Power63 bhp',
       'Max Power78 bhp', 'Max Power81.86 bhp', 'Max Power168.5 bhp',
       'Max Power67 bhp', 'Max Power88.76 bhp', 'Max Power62.1 bhp',
       'Max Power140 bhp', 'Max Power112 bhp', 'Max Power88.73 bhp',
       'Max Power81.83 bhp', 'Max Power37 bhp', 'Max Power69 bhp',
       'Max Power91.7 bhp', 'Max Power75 bhp', nan, 'Max Power74.96 bhp',
       'Max Power35 bhp', 'Max Power94 bhp', 'Max Power81.80 bhp',
       'Max Power138.1 bhp', 'Max Power58.16 bhp', 'Max Power68 bhp',
       'Max Power126.3 bhp', 'Max Power70 bhp', 'Max Power73.97 bhp',
       'Max Power34.2 bhp', 'Max Power120 bhp', 'Max Power103.6 bhp',
       'Max Power121 bhp', 'Max Power113.42 bhp', 'Max Power152.87 bhp',
       'Max Power86.8 bhp', 'Max Power86.7 bhp', 'Max Power64 bhp',
       'Max Power45 bhp', 'Max Power116.3 bhp', 'Max Power53.3 bhp',
       'Max Power82.9 bhp', 'Max Power84 bhp', 'Max Power186 bhp',
       'Max Power98.6 bhp', 'Max Power113.4 bhp', 'Max Power47.3 bhp',
       'Max Power90 bhp', 'Max Power56.3 bhp', 'Max Power85.8 bhp',
       'Max Power67.05 bhp', 'Max Power73.9 bhp', 'Max Power82.85 bhp',
       'Max Power98.96 bhp', 'Max Power83.8 bhp', 'Max Power194.3 bhp',
       'Max Power68.05 bhp', 'Max Power261.49 bhp', 'Max Power76.8 bhp',
       'Max Power74.02 bhp', 'Max Power99 bhp', 'Max Power153.86 bhp',
       'Max Power197 bhp', 'Max Power77 bhp', 'Max Power92.7 bhp',
       'Max Power88.7 bhp', 'Max Power61.7 bhp', 'Max Power82.4 bhp',
       'Max Power175.56 bhp', 'Max Power190 bhp', 'Max Power85.80 bhp',
       'Max Power83.83 bhp', 'Max Power91.1 bhp', 'Max Power121.3 bhp',
       'Max Power177.6 bhp', 'Max Power118 bhp', 'Max Power188 bhp',
       'Max Power147.51 bhp', 'Max Power88.8 bhp', 'Max Power138 bhp',
       'Max Power105.5 bhp', 'Max Power174.33 bhp', 'Max Power88.50 bhp',
       'Max Power84.8 bhp', 'Max Power63.1 bhp', 'Max Power67.06 bhp',
       'Max Power375.48 bhp', 'Max Power87.2 bhp', 'Max Power53.26 bhp',
       'Max Power174.5 bhp', 'Max Power115 bhp', 'Max Power105 bhp',
       'Max Power71 bhp', 'Max Power89.84 bhp', 'Max Power56 bhp',
       'Max Power117.6 bhp', 'Max Power64.4 bhp', 'Max Power138.03 bhp',
       'Max Power91.72 bhp', 'Max Power177 bhp', 'Max Power88.51 bhp',
       'Max Power73 bhp', 'Max Power108.5 bhp', 'Max Power185 bhp',
       'Max Power237.36 bhp', 'Max Power241.4 bhp', 'Max Power57.6 bhp',
       'Max Power83.11 bhp', 'Max Power79.4 bhp', 'Max Power335 bhp',
       'Max Power58.33 bhp', 'Max Power335.25 bhp', 'Max Power148 bhp',
       'Max Power163.05 bhp', 'Max Power254.7 bhp', 'Max Power285.4 bhp',
       'Max Power123.24 bhp', 'Max Power187.7 bhp', 'Max Power204 bhp',
       'Max Power265 bhp', 'Max Power136 bhp', 'Max Power104.68 bhp',
       'Max Power53 bhp', 'Max Power505 bhp', 'Max Power167.68 bhp',
       'Max Power171 bhp', 'Max Power121.36 bhp', 'Max Power103.26 bhp',
       'Max Power97.6 bhp', 'Max Power147.8 bhp', 'Max Power55.2 bhp',
       'Max Power73.75 bhp', 'Max Power201.15 bhp', 'Max Power62 bhp',
       'Max Power130.2 bhp', 'Max Power175.6 bhp', 'Max Power134 bhp',
       'Max Power103 bhp', 'Max Power141 bhp', 'Max Power203 bhp',
       'Max Power110 bhp', 'Max Power240 bhp', 'Max Power184 bhp',
       'Max Power168.7 bhp', 'Max Power103.52 bhp', 'Max Power94.68 bhp',
       'Max Power157.8 bhp', 'Max Power147.9 bhp', 'Max Power103.3 bhp',
       'Max Power143 bhp', 'Max Power58.2 bhp', 'Max Power65.3 bhp',
       'Max Power163.7 bhp', 'Max Power120.69 bhp', 'Max Power40.3 bhp',
       'Max Power66.1 bhp', 'Max Power147.5 bhp', 'Max Power215 bhp',
       'Max Power99.6 bhp', 'Max Power171.5 bhp', 'Max Power108.6 bhp',
       'Max Power183 bhp', 'Max Power103.5 bhp', 'Max Power91.2 bhp',
       'Max Power53.64 bhp', 'Max Power181 bhp', 'Max Power241.6 bhp',
       'Max Power37.5 bhp', 'Max Power53.5 bhp', 'Max Power187.74 bhp',
       'Max Power60 bhp', 'Max Power93.87 bhp', 'Max Power74.9 bhp',
       'Max Power214.56 bhp', 'Max Power280 bhp', 'Max Power214.5 bhp',
       'Max Power126.24 bhp', 'Max Power74.93 bhp', 'Max Power108.62 bhp',
       'Max Power254.8 bhp', 'Max Power63.9 bhp', 'Max Power107.2 bhp',
       'Max Power167.62 bhp', 'Max Power355.37 bhp', 'Max Power187.4 bhp',
       'Max Power118.6 bhp', 'Max Power73.94 bhp', 'Max Power191.7 bhp',
       'Max Power152 bhp', 'Max Power63.12 bhp', 'Max Power93.7 bhp',
       'Max Power64.1 bhp', 'Max Power110.4 bhp', 'Max Power258 bhp',
       'Max Power88.2 bhp', 'Max Power140.8 bhp', 'Max Power57.5 bhp',
       'Max Power149.92 bhp', 'Max Power138.08 bhp', 'Max Power88 bhp',
       'Max Power224 bhp', 'Max Power68.1 bhp', 'Max Power60.2 bhp',
       'Max Power103.25 bhp', 'Max Power335.2 bhp', 'Max Power395 bhp',
       'Max Power48.21 bhp', 'Max Power200 bhp', 'Max Power241.3 bhp',
       'Max Power321 bhp', 'Max Power271 bhp', 'Max Power127 bhp',
       'Max Power52.8 bhp', 'Max Power313 bhp', 'Max Power218 bhp',
       'Max Power102 bhp', 'Max Power68.07 bhp', 'Max Power145 bhp',
       'Max Power157.7 bhp', 'Max Power72 bhp', 'Max Power119.35 bhp',
       'Max Power121.31 bhp', 'Max Power626 bhp', 'Max Power130 bhp',
       'Max Power197.2 bhp', 'Max Power420 bhp', 'Max Power107.3 bhp',
       'Max Power147.94 bhp', 'Max Power37.48 bhp', 'Max Power153.87 bhp',
       'Max Power254.79 bhp', 'Max Power177.46 bhp',
       'Max Power198.25 bhp', 'Max Power139.01 bhp', 'Max Power101 bhp',
       'Max Power142 bhp', 'Max Power300 bhp', 'Max Power164.7 bhp',
       'Max Power180 bhp', 'Max Power121.4 bhp', 'Max Power97.7 bhp',
       'Max Power78.8 bhp', 'Max Power95 bhp', 'Max Power47 bhp',
       'Max Power98.63 bhp', 'Max Power169 bhp', 'Max Power94.93 bhp',
       'Max Power73.74 bhp', 'Max Power80.9 bhp', 'Max Power178 bhp',
       'Max Power66.6 bhp', 'Max Power93 bhp', 'Max Power98.82 bhp',
       'Max Power160 bhp', 'Max Power139.46 bhp', 'Max Power160.77 bhp',
       'Max Power271.23 bhp', 'Max Power38.4 bhp', 'Max Power99.23 bhp',
       'Max Power80.46 bhp', 'Max Power148.31 bhp', 'Max Power106 bhp',
       'Max Power72.4 bhp', 'Max Power102.5 bhp', 'Max Power132 bhp',
       'Max Power201.1 bhp', 'Max Power260.0 bhp', 'Max Power189 bhp',
       'Max Power125 bhp', 'Max Power168 bhp', 'Max Power167.6 bhp',
       'Max Power41.57 bhp', 'Max Power91.19 bhp', 'Max Power178.4 bhp',
       'Max Power134.1 bhp', 'Max Power162 bhp', 'Max Power141.1 bhp',
       'Max Power177.5 bhp', 'Max Power362.9 bhp', 'Max Power76.9 bhp',
       'Max Power65 bhp', 'Max Power282 bhp', 'Max Power58 bhp',
       'Max Power83.81 bhp', 'Max Power165 bhp', 'Max Power150 bhp',
       'Max Power70.02 bhp', 'Max Power73.8 bhp', 'Max Power89.75 bhp',
       'Max Power120.33 bhp', 'Max Power252 bhp', 'Max Power158.2 bhp',
       'Max Power192 bhp', 'Max Power335.3 bhp', 'Max Power306 bhp',
       'Max Power175 bhp', 'Max Power72.42 bhp', 'Max Power157.75 bhp',
       'Max Power245 bhp', 'Max Power97.9 bhp', 'Max Power270.88 bhp',
       'Max Power100.57 bhp', 'Max Power116.4 bhp', 'Max Power203.2 bhp',
       'Max Power364.9 bhp', 'Max Power92 bhp', 'Max Power55 bhp',
       'Max Power194 bhp', 'Max Power123.37 bhp', 'Max Power71.01 bhp',
       'Max Power102.57 bhp', 'Max Power59 bhp', 'Max Power40.23 bhp',
       'Max Power181.03 bhp', 'Max Power120.7 bhp', 'Max Power170.30 bhp',
       'Max Power163 bhp', 'Max Power272 bhp', 'Max Power235 bhp',
       'Max Power181.04 bhp', 'Max Power138.13 bhp', 'Max Power248 bhp',
       'Max Power179.5 bhp', 'Max Power66 bhp', 'Max Power560 bhp',
       'Max Power301.73 bhp', 'Max Power174.3 bhp',
       'Max Power108.495 bhp', 'Max Power104.55 bhp',
       'Max Power167.7 bhp', 'Max Power85.7 bhp', 'Max Power173 bhp',
       'Max Power104.5 bhp', 'Max Power178.3 bhp', 'Max Power64.08 bhp',
       'Max Power123.7 bhp', 'Max Power120.6 bhp', 'Max Power154 bhp',
       'Max Power246.7 bhp', 'Max Power105.94 bhp', 'Max Power244.1 bhp',
       'Max Power429 bhp', 'Max Power237.4 bhp', 'Max Power210 bhp',
       'Max Power271.2 bhp', 'Max Power198.5 bhp', 'Max Power99.61 bhp',
       'Max Power135.1 bhp', 'Max Power75.6 bhp', 'Max Power308.43 bhp',
       'Max Power270.9 bhp', 'Max Power249 bhp', 'Max Power116.6 bhp',
       'Max Power57 bhp', 'Max Power601 bhp', 'Max Power301.8 bhp',
       'Max Power255 bhp', 'Max Power261.4 bhp', 'Max Power38 bhp',
       'Max Power112.4 bhp', 'Max Power328.5 bhp', 'Max Power83 bhp',
       'Max Power104 bhp', 'Max Power147.6 bhp', 'Max Power98.79 bhp',
       'Max Power105.3 bhp', 'Max Power155 bhp', 'Max Power108 bhp',
       'Max Power61.6 bhp', 'Max Power35.5 bhp', 'Max Power122.4 bhp',
       'Max Power100.5 bhp', 'Max Power394.3 bhp', 'Max Power189.3 bhp',
       'Max Power144 bhp', 'Max Power246 bhp', 'Max Power161 bhp',
       'Max Power109 bhp', 'Max Power507 bhp', 'Max Power98 bhp',
       'Max Power375.5 bhp', 'Max Power170.6 bhp', 'Max Power167.67 bhp',
       'Max Power199.3 bhp', 'Max Power130.3 bhp', 'Max Power241.38 bhp',
       'Max Power139 bhp', 'Max Power193.1 bhp', 'Max Power97.89 bhp',
       'Max Power178.49 bhp', 'Max Power134.10 bhp', 'Max Power161.6 bhp',
       'Max Power52 bhp', 'Max Power98.97 bhp', 'Max Power86.79 bhp',
       'Max Power84.48 bhp', 'Max Power170.63 bhp', 'Max Power82.5 bhp',
       'Max Power208 bhp', 'Max Power271.72 bhp', 'Max Power112.44 bhp',
       'Max Power308 bhp', 'Max Power84.82 bhp', 'Max Power158 bhp',
       'Max Power76.43 bhp', 'Max Power68.4 bhp', 'Max Power61 bhp',
       'Max Power301.72 bhp', 'Max Power221.3 bhp', 'Max Power147.4 bhp',
       'Max Power25.4 bhp', 'Max Power333 bhp', 'Max Power500 bhp',
       'Max Power97.8 bhp', 'Max Power315 bhp', 'Max Power182.46 bhp',
       'Max Power362.07 bhp', 'Max Power440 bhp', 'Max Power58.3 bhp',
       'Max Power388 bhp', 'Max Power450 bhp', 'Max Power362 bhp',
       'Max Power250 bhp', 'Max Power258.81 bhp', 'Max Power459 bhp',
       'Max Power151.89 bhp', 'Max Power113.98 bhp', 'Max Power600 bhp',
       'Max Power59.18 bhp', 'Max Power360 bhp', 'Max Power246.74 bhp',
       'Max Power245.4 bhp', 'Max Power197.13 bhp', 'Max Power158.8 bhp',
       'Max Power355.4 bhp', 'Max Power261.5 bhp', 'Max Power236 bhp',
       'Max Power340 bhp', 'Max Power97.90 bhp', 'Max Power194.4 bhp',
       'Max Power201 bhp', 'Max Power103.56 bhp', 'Max Power65.39 bhp',
       'Max Power563 bhp', 'Max Power296 bhp', 'Max Power248.08 bhp',
       'Max Power163.2 bhp', 'Max Power156 bhp', 'Max Power75.94 bhp',
       'Max Power207 bhp', 'Max Power64.9 bhp', 'Max Power385 bhp',
       'Max Power423.7 bhp', 'Max Power402 bhp', 'Max Power25.5 bhp',
       'Max Power114 bhp', 'Max Power231.1 bhp', 'Max Power174.57 bhp',
       'Max Power152.88 bhp', 'Max Power552 bhp', 'Max Power575 bhp',
       'Max Power80.8 bhp', 'Max Power241 bhp', 'Max Power130.1 bhp',
       'Max Power119.3 bhp', 'Max Power114.4 bhp', 'Max Power86.80 bhp',
       'Max Power259 bhp', 'Max Power75.10 bhp', 'Max Power349.5 bhp',
       'Max Power177.01 bhp'], dtype=object)

In [19]:
car['seats'].unique()

array(['Seats5', 'Seats7', 'Seats8', 'Seats4', 'Seats6', nan, 'Seats2',
       'Seats9', 'Seats10', 'Seats14'], dtype=object)

In [20]:
backup=car.copy()

In [21]:
car.dropna(inplace=True)

In [22]:
car.info

<bound method DataFrame.info of                                             full_name selling_price  \
1                              Hyundai Grand i10 Asta     5.5 Lakh*
4      Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV     5.7 Lakh*
5                            Maruti Wagon R VXI BS IV     3.5 Lakh*
6                              Hyundai i10 Sportz 1.2    3.15 Lakh*
7                                  Maruti Wagon R VXI     4.1 Lakh*
...                                               ...           ...
19956                         Maruti Alto 800 CNG LXI    2.75 Lakh*
19957                    Renault KWID Climber 1.0 AMT    4.85 Lakh*
19959                            Maruti Swift AMT VXI     5.9 Lakh*
19961                            Honda Amaze E i-DTEC    5.25 Lakh*
19972                          Mahindra XUV500 W6 2WD   12.25 Lakh*

                                            new_price  year seller_type  \
1        New Car (On-Road Price) : Rs.7.11-7.48 Lakh*  2016  Individual
4      New Car (On-Road Price) : Rs.10.14-13.79 Lakh*  2015      Dealer
5        New Car (On-Road Price) : Rs.5.16-6.94 Lakh*  2013  Individual
6        New Car (On-Road Price) : Rs.6.54-6.63 Lakh*  2013      Dealer
7        New Car (On-Road Price) : Rs.5.26-7.01 Lakh*  2018      Dealer
...                                               ...   ...         ...
19956    New Car (On-Road Price) : Rs.4.98-5.02 Lakh*  2014      Dealer
19957    New Car (On-Road Price) : Rs.4.17-6.85 Lakh*  2017      Dealer
19959    New Car (On-Road Price) : Rs.6.30-9.14 Lakh*  2018  Individual
19961   New Car (On-Road Price) : Rs.9.07-11.76 Lakh*  2015      Dealer
19972  New Car (On-Road Price) : Rs.17.83-24.91 Lakh*  2016      Dealer

           km_driven   owner_type fuel_type transmission_type  \
1         20,000 kms  First Owner    Petrol            Manual
4         30,000 kms  First Owner    Diesel            Manual
5         35,000 kms  First Owner    Petrol            Manual
6         40,000 kms  First Owner    Petrol            Manual
7         17,512 kms  First Owner    Petrol            Manual
...              ...          ...       ...               ...
19956     44,000 kms  First Owner       CNG            Manual
19957     29,847 kms  First Owner    Petrol         Automatic
19959     25,000 kms  First Owner    Petrol         Automatic
19961     28,000 kms  First Owner    Diesel            Manual
19972  38,00,000 kms  First Owner    Diesel            Manual

                  mileage         engine           max_power   seats
1        Mileage18.9 kmpl  Engine1197 CC     Max Power82 bhp  Seats5
4       Mileage22.77 kmpl  Engine1498 CC  Max Power98.59 bhp  Seats5
5        Mileage18.9 kmpl   Engine998 CC   Max Power67.1 bhp  Seats5
6       Mileage20.36 kmpl  Engine1197 CC   Max Power78.9 bhp  Seats5
7       Mileage20.51 kmpl   Engine998 CC  Max Power67.04 bhp  Seats5
...                   ...            ...                 ...     ...
19956  Mileage30.46 km/kg   Engine796 CC   Max Power47.3 bhp  Seats5
19957   Mileage24.04 kmpl   Engine999 CC     Max Power67 bhp  Seats5
19959    Mileage22.0 kmpl  Engine1197 CC  Max Power81.80 bhp  Seats5
19961    Mileage25.8 kmpl  Engine1498 CC   Max Power98.6 bhp  Seats5
19972    Mileage16.0 kmpl  Engine2179 CC    Max Power140 bhp  Seats7

[9441 rows x 13 columns]>

In [23]:
car['selling_price']=car['selling_price'].str.replace('*','').str.replace('Lakh','')

C:\Users\samar\AppData\Local\Temp\ipykernel_5712\3478665567.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  car['selling_price']=car['selling_price'].str.replace('*','').str.replace('Lakh','')

In [24]:
car['selling_price']=car['selling_price'].str.replace(',','')

In [25]:
car['selling_price']=car['selling_price'].str.replace('Cr','').astype(float)

In [26]:
car['selling_price']

1         5.50
4         5.70
5         3.50
6         3.15
7         4.10
         ...
19956     2.75
19957     4.85
19959     5.90
19961     5.25
19972    12.25
Name: selling_price, Length: 9441, dtype: float64

In [27]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9441 entries, 1 to 19972
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          9441 non-null   object
 1   selling_price      9441 non-null   float64
 2   new_price          9441 non-null   object
 3   year               9441 non-null   int64
 4   seller_type        9441 non-null   object
 5   km_driven          9441 non-null   object
 6   owner_type         9441 non-null   object
 7   fuel_type          9441 non-null   object
 8   transmission_type  9441 non-null   object
 9   mileage            9441 non-null   object
 10  engine             9441 non-null   object
 11  max_power          9441 non-null   object
 12  seats              9441 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.0+ MB

In [28]:
car['km_driven']=car['km_driven'].str.split(' ').str.get(0).str.replace(',','').astype(int)

In [29]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9441 entries, 1 to 19972
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          9441 non-null   object
 1   selling_price      9441 non-null   float64
 2   new_price          9441 non-null   object
 3   year               9441 non-null   int64
 4   seller_type        9441 non-null   object
 5   km_driven          9441 non-null   int32
 6   owner_type         9441 non-null   object
 7   fuel_type          9441 non-null   object
 8   transmission_type  9441 non-null   object
 9   mileage            9441 non-null   object
 10  engine             9441 non-null   object
 11  max_power          9441 non-null   object
 12  seats              9441 non-null   object
dtypes: float64(1), int32(1), int64(1), object(10)
memory usage: 995.7+ KB

In [30]:
car['km_driven']

1          20000
4          30000
5          35000
6          40000
7          17512
          ...
19956      44000
19957      29847
19959      25000
19961      28000
19972    3800000
Name: km_driven, Length: 9441, dtype: int32

In [31]:
car=car.drop(['new_price','seller_type','owner_type','max_power','seats'],axis=1)

In [32]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9441 entries, 1 to 19972
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          9441 non-null   object
 1   selling_price      9441 non-null   float64
 2   year               9441 non-null   int64
 3   km_driven          9441 non-null   int32
 4   fuel_type          9441 non-null   object
 5   transmission_type  9441 non-null   object
 6   mileage            9441 non-null   object
 7   engine             9441 non-null   object
dtypes: float64(1), int32(1), int64(1), object(5)
memory usage: 626.9+ KB

In [33]:
car['mileage']=car['mileage'].str.replace('Mileage','').str.replace('km/hr','').str.replace('kmpl','')

In [34]:
car['mileage']=car['mileage'].str.replace('km/kg','').astype(float)

In [35]:
car['mileage']

1        18.90
4        22.77
5        18.90
6        20.36
7        20.51
         ...
19956    30.46
19957    24.04
19959    22.00
19961    25.80
19972    16.00
Name: mileage, Length: 9441, dtype: float64

In [36]:
car['engine']

1        Engine1197 CC
4        Engine1498 CC
5         Engine998 CC
6        Engine1197 CC
7         Engine998 CC
             ...
19956     Engine796 CC
19957     Engine999 CC
19959    Engine1197 CC
19961    Engine1498 CC
19972    Engine2179 CC
Name: engine, Length: 9441, dtype: object

In [37]:
car['engine']=car['engine'].str.replace('CC','').str.replace('Engine','')

In [38]:
car['engine']=car['engine'].astype(int)

In [39]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9441 entries, 1 to 19972
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          9441 non-null   object
 1   selling_price      9441 non-null   float64
 2   year               9441 non-null   int64
 3   km_driven          9441 non-null   int32
 4   fuel_type          9441 non-null   object
 5   transmission_type  9441 non-null   object
 6   mileage            9441 non-null   float64
 7   engine             9441 non-null   int32
dtypes: float64(2), int32(2), int64(1), object(3)
memory usage: 590.1+ KB

In [40]:
car['full_name']=car['full_name'].str.split(' ').str.slice(0,3).str.join(' ')

In [41]:
car

,full_name,selling_price,year,km_driven,fuel_type,transmission_type,mileage,engine
1,Hyundai Grand i10,5.50,2016,20000,Petrol,Manual,18.90,1197
4,Ford Ecosport 2015-2021,5.70,2015,30000,Diesel,Manual,22.77,1498
5,Maruti Wagon R,3.50,2013,35000,Petrol,Manual,18.90,998
6,Hyundai i10 Sportz,3.15,2013,40000,Petrol,Manual,20.36,1197
7,Maruti Wagon R,4.10,2018,17512,Petrol,Manual,20.51,998
...,...,...,...,...,...,...,...,...
19956,Maruti Alto 800,2.75,2014,44000,CNG,Manual,30.46,796
19957,Renault KWID Climber,4.85,2017,29847,Petrol,Automatic,24.04,999
19959,Maruti Swift AMT,5.90,2018,25000,Petrol,Automatic,22.00,1197
19961,Honda Amaze E,5.25,2015,28000,Diesel,Manual,25.80,1498
19972,Mahindra XUV500 W6,12.25,2016,3800000,Diesel,Manual,16.00,2179

In [42]:
car=car.reset_index(drop=True)

In [43]:
car.describe()

       selling_price         year     km_driven      mileage       engine
count    9441.000000  9441.000000  9.441000e+03  9441.000000  9441.000000
mean      218.502071  2015.287364  5.121888e+04    18.975934  1520.179642
std      3997.401805     2.974457  5.563238e+04     3.859898   543.557229
min         1.000000  1992.000000  1.000000e+02     4.000000   796.000000
25%         4.000000  2014.000000  2.500000e+04    16.380000  1197.000000
50%         5.750000  2016.000000  4.600000e+04    18.900000  1396.000000
75%         8.750000  2018.000000  6.700000e+04    21.790000  1591.000000
max     95000.000000  2021.000000  3.800000e+06    33.540000  6592.000000

In [44]:
car['selling_price']=car['selling_price'].astype(float)

In [45]:
car.describe()

       selling_price         year     km_driven      mileage       engine
count    9441.000000  9441.000000  9.441000e+03  9441.000000  9441.000000
mean      218.502071  2015.287364  5.121888e+04    18.975934  1520.179642
std      3997.401805     2.974457  5.563238e+04     3.859898   543.557229
min         1.000000  1992.000000  1.000000e+02     4.000000   796.000000
25%         4.000000  2014.000000  2.500000e+04    16.380000  1197.000000
50%         5.750000  2016.000000  4.600000e+04    18.900000  1396.000000
75%         8.750000  2018.000000  6.700000e+04    21.790000  1591.000000
max     95000.000000  2021.000000  3.800000e+06    33.540000  6592.000000

In [46]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9441 entries, 0 to 9440
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          9441 non-null   object
 1   selling_price      9441 non-null   float64
 2   year               9441 non-null   int64
 3   km_driven          9441 non-null   int32
 4   fuel_type          9441 non-null   object
 5   transmission_type  9441 non-null   object
 6   mileage            9441 non-null   float64
 7   engine             9441 non-null   int32
dtypes: float64(2), int32(2), int64(1), object(3)
memory usage: 516.4+ KB

In [47]:
car=car.loc[car['selling_price']<10]

In [48]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7567 entries, 0 to 9439
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          7567 non-null   object
 1   selling_price      7567 non-null   float64
 2   year               7567 non-null   int64
 3   km_driven          7567 non-null   int32
 4   fuel_type          7567 non-null   object
 5   transmission_type  7567 non-null   object
 6   mileage            7567 non-null   float64
 7   engine             7567 non-null   int32
dtypes: float64(2), int32(2), int64(1), object(3)
memory usage: 472.9+ KB

In [49]:
car.describe()

       selling_price         year      km_driven      mileage       engine
count    7567.000000  7567.000000    7567.000000  7567.000000  7567.000000
mean        5.218723  2015.097529   50955.686534    19.751369  1360.687591
std         2.035246     2.942574   38284.458177     3.585922   396.388452
min         1.000000  2003.000000     100.000000     4.000000   796.000000
25%         3.600000  2013.000000   26000.000000    17.210000  1197.000000
50%         5.000000  2016.000000   46132.000000    19.120000  1198.000000
75%         6.550000  2017.000000   67000.000000    22.320000  1498.000000
max         9.990000  2021.000000  825000.000000    33.540000  6592.000000

In [50]:
car

,full_name,selling_price,year,km_driven,fuel_type,transmission_type,mileage,engine
0,Hyundai Grand i10,5.50,2016,20000,Petrol,Manual,18.90,1197
1,Ford Ecosport 2015-2021,5.70,2015,30000,Diesel,Manual,22.77,1498
2,Maruti Wagon R,3.50,2013,35000,Petrol,Manual,18.90,998
3,Hyundai i10 Sportz,3.15,2013,40000,Petrol,Manual,20.36,1197
4,Maruti Wagon R,4.10,2018,17512,Petrol,Manual,20.51,998
...,...,...,...,...,...,...,...,...
9434,Datsun GO T,2.25,2014,40000,Petrol,Manual,20.63,1198
9436,Maruti Alto 800,2.75,2014,44000,CNG,Manual,30.46,796
9437,Renault KWID Climber,4.85,2017,29847,Petrol,Automatic,24.04,999
9438,Maruti Swift AMT,5.90,2018,25000,Petrol,Automatic,22.00,1197
9439,Honda Amaze E,5.25,2015,28000,Diesel,Manual,25.80,1498

In [51]:
car=car.reset_index(drop=True)

In [52]:
car.to_csv('Cleanedcar.csv')

In [53]:
X=car.drop(columns='selling_price')
y=car['selling_price']

In [54]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [60]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [61]:
ohe=OneHotEncoder()
ohe.fit(X[['full_name','fuel_type','transmission_type']])

OneHotEncoder()

In [66]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['full_name','fuel_type','transmission_type']),
                                     remainder='passthrough')

In [67]:
lr=LinearRegression()

In [68]:
pipe=make_pipeline(column_trans,lr)

In [69]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A4 1.8', 'BMW 3 Series', 'BMW 5 Series', 'BMW 7 Series',
       'BMW X1 sDrive20d', 'Bentley Continental GT', 'Datsun GO A',
       'Datsun GO Anniversary', 'Datsun GO D', 'Datsun GO Plus',
       'Datsun GO T', 'Datsun RediGO 1.0', 'Datsun RediGO A',
       'Datsun Re...
       'Volkswagen Vento 1.6', 'Volkswagen Vento 2013-2015',
       'Volkswagen Vento 2015-2019', 'Volkswagen Vento IPL',
       'Volkswagen Vento Magnific', 'Volkswagen Vento Petrol',
       'Volkswagen Vento TSI'], dtype=object),
                                                                            array(['CNG', 'Diesel', 'Petrol'], dtype=object),
                                                                            array(['Automatic', 'Manual'], dtype=object)]),
                                                  ['full_name', 'fuel_type',
                                                   'transmission_type'])])),
                ('linearregression', LinearRegression())])

In [71]:
y_pred=pipe.predict(X_test)

In [74]:
with np.printoptions(threshold=np.inf):
    print(y_pred)

[ 4.20311906  6.69239375  7.26838777  6.8558189   6.23979434  7.13406415
  5.1269426   5.58134323  7.46547535  4.90482461  5.13902884  5.63689969
  4.60411109  3.71498855  4.14034872  2.55980062  5.8703339   7.3362215
  6.3995833   3.99054203  7.339932    6.983015    5.94031127  8.52423346
  4.73662476  5.94945962  7.37086876  4.65412211  3.1143067   1.22651865
  4.44776739  4.7755502   5.84458017  3.74726888  1.97123318  6.65836242
  4.07043893  4.55186138  1.61128793  8.48031255  5.88313438  5.21107846
  6.31423514  4.74735867  6.9334511   6.1936446   3.74621611  1.91441969
  3.19499737  8.19250058  4.9695908   3.32568735  5.01193232  4.83959563
  7.24745213  6.38578732 12.05785186  6.86959211  7.50660178  6.1617491
  3.01784814  2.84485271  2.58512741  4.33806805  6.27573132  3.03002524
  4.70532687  1.41603952  4.3306332   5.0341115   5.40663911  2.40348694
  6.59138672  2.05624088  2.80849311  3.58981723  6.34322118  5.86032409
  2.83602721  4.22642837  8.05250078  4.16675908  0.58517842  4.53169624
  3.18508199  6.88623701  3.08999981  6.68587802  5.36372213  4.58107384
  3.83351295  5.69775564  6.14049403  4.04513313  5.39985003  6.05551048
  5.40813965  7.25385176  6.92150647  7.77128069  4.93892054  5.03743445
  5.37634557  7.46111003  4.37842674  6.4787824   6.46459669  7.22263378
  7.93834271  6.86079103  6.41622381  5.7111624   5.49162876  3.70987672
  7.04289342  5.45248984  5.66268966  7.76294922  4.06763156  2.94690045
  5.97697181  6.50790804  7.92796304  4.76247132  6.8533411   7.26495319
  6.08138517  6.25006559  6.49341042  5.34144283  7.28393968  6.01806886
  5.04108549  4.71694596  4.43448524  6.01776117  8.61727263  7.71498325
  2.86170092  7.28296186  3.14414493  3.2932826   8.18903133  5.03121268
  5.53572215  9.31631903  4.44689535  3.94861419  1.92684601  6.94699537
  5.07241767  6.21064119  4.21667512  3.83087358  5.68978017  3.50213658
  4.30368727  2.21631693  7.08773975  2.37685464  4.8949978   5.82351702
  3.6418624   3.54727415  1.76191251  3.1864304   6.86605716  4.90807668
  7.16671992  6.07869525  3.1999073   6.26037138  2.70772311  1.48628731
  4.25844565  6.2121654   3.56717877  6.58336637  4.55423418  4.37861608
  5.02757633  1.85980448  8.58314018  7.45017274  6.21198182  4.2940668
  5.00286736  3.14684202  5.52573441  4.2087409   5.34853579  6.72197469
  6.79842509  5.82897123  5.71188079  5.35102415  3.23834659  4.66641509
  5.76796069  4.74639911  4.47626785  4.86929814  6.74781669  3.7777405
  5.4143048  11.89222909  5.90963503  4.23248813  3.61067982  7.03404626
  6.08574831  5.69853371  5.33620926  3.65460138  4.00037599  6.00721243
  7.76710247  3.49538238  8.09664642  6.47887574  2.18778884  3.65321893
  3.71446153  4.58019473  3.25592053  5.03598772  3.31563796  3.73922495
  5.22144436  3.43665527  5.79585117  4.73817571  6.28768198  6.14179175
  5.50579142  7.25018205  4.55146773  7.55548264  5.3823344   4.5370996
  3.31637068  3.0507036   5.54273263  7.34636534  5.85654863  8.17440204
  5.63905491  5.75552735  6.96370893  2.53703326  5.54197492  3.21323541
  7.18144105  4.94156525  4.13701968  6.31565319  7.27549941  6.59819167
  3.08604019  9.17652625  7.4596431   6.82650194  6.25406514  8.09311804
  6.06064623  6.71442116  6.6813829   3.7231849   4.86167015  8.09664642
  5.53021277  4.60386963  4.97505743  8.30549882  6.89335904  7.74861523
  6.63600801  7.44424291  6.18581776  2.98244077  4.47005365  2.3323438
  6.67020016  5.44664284  2.89721065  7.27875568  5.38306827  5.07688681
  2.82602894  4.70455211  5.49834546 -1.02475354  2.0741913   4.00385818
  2.6983585   5.58251533  6.6019313   7.19569569  6.93473494  4.42366345
  7.97340409  6.64901317  7.78520189  3.98928495  5.26472483  3.76539671
  4.51725771  6.12125114  4.66973723  3.4264441   5.83582745  5.58431629
  8.15308288  4.91493294  6.36103351  6.64976513  4.8761505   5.65957207
  3.75192912  4.00037599  6.60746143  4.40991425  7.07107065  1.82795307
  3.55427978  6.26649934  1.69663727  5.89485031  1.60246562  4.73299584
  7.24457584  4.2471129   6.95430785  4.32113992  6.60155322  4.85037336
  5.14827943  2.54204576  4.7146287   3.60868558  7.71428864  5.10221467
  5.10855685  4.58554646  4.3570827   5.30828766  4.5830242   6.42663936
  6.49012203  5.93659709  3.65463329  6.8131838   4.32838025  3.12152181
  1.36686672  4.72680686  3.08604019  5.34747784  7.04372781  7.42640382
  2.37136576  2.57268518  7.21595764  6.28006143  5.14352808  6.9600624
  7.81415622  7.7375743   5.53557599  3.8952006   6.91307537  2.67834046
  5.11978692  7.08660735  8.2477955   7.22302224  7.77570471  5.9737212
  4.96621305  8.39153822  4.4498627   5.47049428  3.22917902  3.17205464
  2.6766521   3.18107356  4.93984894  2.32940604  4.78585701  7.14770681
  4.54640777  5.39464129  5.25488192  3.97179855  3.76148057  4.13985377
  5.54717134  7.75338021  8.38704058  5.19142821  3.58757164  4.40908751
  6.22853745  4.79625894  4.00052616  3.09501579  6.55811847  6.48778228
  3.24670918  6.26334051  3.27790149  8.20509877  6.97122057  4.78184225
  2.78977734  5.34039606  6.33702923  8.28330523  2.34186036  7.2836296
  4.18584556  5.31468081  4.19300022  5.4562761   5.09387095  6.22974105
  1.41034449  5.88745541  7.5965575   3.19829977  5.04948379 -0.8040109
  4.67758954  6.56269917  6.01088115  5.30177431  5.85975906  4.28061156
  5.76199704  7.43795583  5.93241206  6.28832968  7.03816738  1.39266771
  4.8040859   6.01917842  5.86459637  3.49991722  3.20949493  1.57547186
  4.76571283  5.196741    5.97276758  6.11985659  7.44685193  5.80330474
  4.69687383  6.77840238  6.03438394  6.31567144  4.93160527  3.59303651
  3.2678253   8.20317562  6.89037072  3.09488951  4.43347833  5.12368055
  6.87919875  3.18787789  7.30641615 -0.62900834  5.53877735  7.33549329
  3.238671    8.29194996  4.96545508  4.94481513  7.09860606  5.80305321
  4.34420579  4.60826129  6.31905617  4.95437772  4.57121576  4.91385041
  4.61890744  5.23343583  6.88158377  7.50258222  1.67894996  4.29537991
  5.11190071  6.61471174  5.8870611   6.79622749  2.98404901  5.58396968
  5.68524849  5.16193713  5.99078625  4.66359202  7.43140043  7.44417064
  6.55305231  5.46380693  4.85722963  4.89609554  7.22784803  1.95937737
  6.29818866  4.67048774  5.77816711  3.21645134  4.35918807  5.91852643
  6.64133046  6.63350533  1.42513577  4.72929827  4.96709632  2.77720306
  3.36526066  6.39749733  4.29245291  6.91150437  6.08260844  2.33566184
  4.92395588  2.97232192  4.54773283  5.02235727  5.40827235  5.44142393
  7.48307736  5.08306844  1.25972913  7.34188056  3.32444181  6.71130216
  1.7823306   4.68551715  6.84994674  4.3312386   3.72258564  2.46121088
  5.56879538  2.18461675  4.98499776  3.72619802  4.61027801  6.74725312
  6.62884051  3.59997844  4.52649079  4.15921326  5.766281    3.3097672
  6.70342952  6.28754496  7.09062403  8.03938718  7.00158728  8.07536318
  1.99853756  6.73678091  3.47079007  2.61122101  2.8306867   7.75326354
  6.51936342  6.46319363  2.85163527  4.67003283  3.07814027  4.63090535
  5.2688731   3.92410737  4.27551039  4.25257241  6.16653292  4.01904128
  3.66507703  2.28808031  2.17260611  1.76910157  3.1284822   4.39303168
  5.61785874  5.38283897  4.31008133  5.03148435  2.10602536  3.17778517
  6.00950303  4.80014597  3.37164607  2.1979329   5.55972157  8.32255749
  6.78523508  8.51138357  6.61661605  4.15856543  6.20879651  2.26065919
  7.03883244  5.79529718  5.5391453   7.17607155  5.38737754  5.83260443
  6.02953476  5.6413556   3.44997142  7.33374866  4.56090462  3.23248972
  4.42770385  6.78185402  3.61479085  7.63059675  6.97637716  5.18347653
  6.55923225  4.1458133   5.02051596  6.37881697  8.17210461  5.01697405
  3.53830651  2.16242317  3.94813385  6.72713062  4.5490921   5.05160802
  5.68966947  8.08001578  7.44534818  3.58420262  4.38030613  4.59967237
  9.00066857  7.38359199  5.59306521  4.13927507  5.69388155  6.90924803
  3.37873606  3.49183664  5.40663911  3.72763158  3.37781376  6.63563713
  3.4159668   6.87402995  1.46316716  5.28354321  5.9456807   6.61566427
  7.07291214  4.20612912  3.21763323  2.41194331  9.11083324  5.89838082
  4.33922044  4.48604079  5.08878749  8.12432046  6.2579811   6.39468022
  3.33012607  5.91916398  6.68318027  5.20431008  6.68885175  5.30656797
  7.31140811  3.75597293  2.63075599  3.88962785  2.87130385  3.54292546
  5.098806    5.20447749  4.24266114  5.22850479  2.84394605  4.93107901
  4.92106792  5.34893579  4.51720371  5.86438183  8.456219    8.02036822
  2.72103926  5.05078653  3.43981704  5.08895737  5.43159483  4.83332021
  2.97859841  4.14193327  5.30439034  6.78409282  4.38523415  6.81004121
  6.02979684  6.27916928  3.31637068  6.44079745  0.95147802  3.30745603
  6.63718618  9.15451653  1.56562427  5.81498077  4.62680125  5.10821893
  4.79422003  6.11237371  7.07761461  6.02601962  7.9479505   6.87747358
  3.60488726  8.29194996  5.9595419   1.84086042  2.57408252  8.29561823
  2.42702166  5.34871194  6.87303614  7.0750201   6.49896223  3.12461136
  2.78488133  5.63722337  6.63720083  5.51925612  1.44798052  2.26451365
  4.17953403  3.15844969  5.42158661  4.43210783  5.1497159   5.04013148
  5.88490735  5.97357958  7.06582315  7.71454354  4.07641739  0.99672382
  3.11351124  3.71456858  6.39021367  7.92901692  3.96134161  6.674658
  7.78958152  6.28847116  5.34747784  5.58990905  6.25161512  2.72103926
  3.55822796  4.92770173  5.43698521  6.24508995  4.46739042  4.90775177
  6.95746253  5.00134833  5.08907085  3.17206417  7.85622136  2.40444554
  7.19206164  3.22059172  7.33335045  7.18727101  7.25781681  4.49908859
  8.3651493   1.88722273  4.18140685  5.41441456  7.15841713  5.54958688
  8.20882465  3.97432691  1.56850844  4.37506276  6.13377603  6.54183545
  6.3884276   6.51130308  4.32750451  3.50875465  5.49541344  6.91104441
  3.80130946  5.19682438  2.27881227  6.39998881  6.40150601  7.77159395
  5.48694475  7.40226959  7.98488506  4.04462388  6.22170698  4.26890588
  7.44233546  3.202595    3.55292932  5.15099198  1.17619692  4.37238335
  4.91163899  3.44577307  7.60869325  4.60492454  4.13397119  4.41516171
  5.03402995  7.39059864  4.49415588  4.6975312   4.79268557  5.96167684
  3.57027416  5.63073633  6.15820307  1.06531334  7.25485655  6.9582595
  7.76921116  3.79421234  6.55923225  3.95835217  3.45384653  4.53361389
  3.19700811  4.99378447  4.92342464  0.44328552  7.88462975  8.00606681
  4.19152987  5.87778256  5.46427311  1.84283556  4.48736464  5.75165821
  6.68795503  4.78552893  4.57351494  3.60290364  3.95591184  4.44075812
  4.43921845  6.61541192  2.22758353  5.49252693  5.09572404  5.60716028
  5.58251533  5.45753219  5.66590113  6.9622752   6.24329482  6.51433554
  6.20244846  5.41938604  5.15117284  7.31341886  4.07333252  5.3909726
  6.3647361   6.53606749  5.48781856  3.80529223  6.25406514  3.63661813
  4.53352218  1.64326418  5.15832737  5.50579142  4.50799907  4.50290835
  4.81838466  2.31780432  5.41109225  7.01851963  3.911311    6.6149926
  7.13168438  8.58912946  7.00005631  3.2611365   0.95429659  5.55959975
  4.78022619  6.60962725  3.83335883  6.14984415  3.86345059  7.25534252
  2.47690984  2.73914923  6.55466409  4.83073355  5.5518825   3.96110236
  5.29776593  7.28698038  6.69855396  8.85609635  4.84759268  7.03848059
  3.18042162  2.49321987  5.72307055  6.40562041  4.98043116  3.15262094
  5.24363794  6.30246107  6.81818223  5.79059322  8.03404091  6.0775533
  3.8842697   2.51765218  6.74666494  7.85178264  6.53853456  7.42681475
  3.51010559  5.0280305   4.76141338  6.39403479  4.83959563  5.33769447
  5.4297677   2.99261815  5.22954466  2.65836925  0.64354311  3.17579204
  6.64295651  4.04468617  6.74537755  5.10351911  4.69164664  7.31805139
  4.53366403  5.43384438  4.18140685  7.10377616  4.86782855  3.90189304
  6.57470674  3.69274309  5.53279632  6.9548315   2.76094355  4.94936014
  8.19351755  6.35202311  1.75747379  5.69481467  7.81368228  3.74982517
  6.4041427   6.26081207  7.66221698  3.59313775  7.2976974   6.74781669
  4.06018168  6.72963785  6.3281518   5.29135713  2.97356333  6.48181335
  4.41048684  5.2822183   4.99406711  1.93828814  6.2164249   6.17865615
  7.75204147  6.61693556  4.30148475  5.14907732  5.59366054  1.81036911
  6.01169099  4.8773933   5.0471055   1.55807845  4.4425629   5.58111891
  5.4675694   3.16014173  4.97355073  7.5068374   4.01491794  6.26339245
  6.5137313   3.66865097  1.63061233  4.47074549  2.16053252  8.3543247
  4.52562311  5.61055433  3.57671522  5.9894866   3.22503044  4.16592372
  4.27173241  6.95600451  7.89395554  4.6222419   5.70447363  8.01585577
  4.67936517  3.56597747  6.95256328  4.32430206  5.64500561  4.78403432
  5.77898415  4.24945521  7.52220571  3.6702266   6.1631603   2.58815296
  6.14133608  4.90775177  2.07766196  5.54425375  4.88934047  1.32143885
  5.77598097  7.14332191  5.60722347  3.16883628  6.98640502  3.47962213
  6.07102577  2.22900392  6.44783331  6.09878988  3.48149982  4.88871702
  6.07658728  3.55297651  1.92847669  4.73913954  3.88045365  3.53830651
  6.285164    4.62408531  7.90651594  3.90926531  4.21247786  5.45674754
  3.93268192  2.20361303  7.2159984   7.74022273  4.32287624  6.9457718
  7.5440423   5.88702727  7.49125464  5.84857669  5.19235397  4.66692624
  6.99732021  5.40180039  4.06462039  1.67894996  7.01698662  6.99661919
  6.18503437  4.7209071   4.95067754  4.83820663  6.88380003  6.64722737
  2.4488327   4.77700641  4.84715877  5.89313448  5.92992714  5.99529156
  5.67556205  6.58008084  6.9598703   3.2195042   4.83281888  5.79828676
  4.90497297  4.89903003  5.4953617   1.98966013  5.41332202  7.25431172
  4.06155352  6.8759759   3.91071178  6.72403699  5.42941811  4.10781561
  4.53510673  4.64445376  3.25501394  4.6075971   4.13980893  0.84795264
  5.40623911  1.87943641  6.38181744  4.21695881  5.38559222  2.37685464
  5.4886032   7.46643649  2.81731375  5.96309854  4.76338197  4.54042393
  6.43348669  4.16246303  5.23946842  7.340197    5.40513241  2.5739493
  6.77083104  2.33246747  7.36027109  6.75227957  2.11614535  3.22946916
  8.02638859  7.2435917   5.43934336  6.58017459  4.7658521   3.57701355
  8.52938182  5.88289966  1.30944276  7.12432724  6.32933144  3.65176088
  6.0760946   6.70616977  8.1945309   5.18307354  7.07176277  7.68643823
  4.03515956  6.17203773  4.66847248  1.66904637  4.28718016  5.73847025
  4.3570827   2.64726944  5.71081219  6.26383959  6.57403677  5.10459228
  7.74075564  8.60459662  5.19694839  3.55698493  5.61418618  4.75272159
  6.78784072  5.28740733  9.68647873  6.84250275  6.94423212  2.1848116
  6.84061571  7.99775398  5.19008292  7.06140289  5.49747487  7.47079098
  6.86419355  4.46693475  2.1415351   0.23633966  3.63529808  1.85830911
  5.40663911  5.38760784  3.14472102  1.86326641  5.85303748  4.1888889
  2.15354573  6.69267451  4.58635622  2.50864307  4.48870445  4.39394628
  8.68283343  1.05981377  5.61649734  7.24053561  7.64104627  5.56538688
  6.69239375  4.17822256  3.96901432  6.43993726  6.25100578  5.14983282
  5.46485083  7.20607364  5.53980061  3.70559923  5.59025973  4.80741736
  4.24378144  3.09129986  5.88819846  5.52053904  6.90350359  4.72964959
  7.35115857  3.82977622  4.23330967  2.58512741  7.30447532  7.75757837
  4.50004069  7.19039001  6.86913505  2.4488327   5.4156412   4.32863842
  8.22560192  6.92487371  6.64413453  5.5118367   3.01838975  6.35118117
  4.71936133  6.06941013  4.04491332  5.05255989  4.19930781  2.51154593
  7.30071673  2.61007134  3.99012951  6.45769213  3.81497235  4.32799798
  0.84672596  5.18534256  5.88322727  2.84403425  5.00254849  5.76409186
  4.30252989  7.08846569  5.87796181  5.85386069  5.25000762  5.23352377
  7.67316153  5.5877012   1.35709508  4.72891646  5.42464454  4.90452216
  4.57098531  5.04163818  4.95356281  6.1098957   6.67283458  6.73678091
  6.85117701  5.08096531  4.7858806   6.03776245  6.98400406  7.39642286
  4.57515223  6.93276433  5.13282249  6.79726679  4.70302349  7.15063754
  1.82405454  5.19675164  8.50853149  6.85958656  3.74671094  8.33481232
  6.66982597  4.12213666  4.14193327  3.15780199  8.29638868  6.51847499
  1.72939332  5.54961226  4.79508939  7.69260738  6.53295802  6.16788757
  2.21823584  3.6561996   4.8476172   7.41049     6.00071306  6.86665725
  3.56645797  2.56423934  3.10074637  4.90553275  6.12436592  6.98853355
  7.92901692  2.25122357  6.25409298  7.25385176  6.80699302  4.19893334
  6.31594077  4.27573703  4.39207644  5.00245964  5.29487117  5.06255762
  4.10849893  5.84859877  6.2856665   7.57804962  6.06775765  6.61941357
  7.24342443  5.34507005  6.67029113  8.06540914  7.26813887  5.5557167
  5.98333126  6.31127227  4.70263526  3.16732712  6.06061021  6.19733842
  4.42881782  5.50593997  8.06648574  7.21834202  4.05555591  6.5003242
  4.92568138  7.56987517  6.31582098  5.38404552  4.9720889   8.09108023
  3.01686283  4.28365929  6.53952357  2.66189111  4.7281537   7.77811401
  3.10526006  3.0437765   4.32779181  6.1098957   6.52895223  5.3232385
  3.81325024  5.91514253  7.02005142  7.24130461  4.58378446  4.17779355
  6.73543592  5.1526061   3.81582535  7.00297525  1.63005652  7.10715394
  8.12204459  6.51599862  6.9690075   5.76610416  2.02463344  4.5714732
  8.55854936  4.85265132  5.62625864  6.20528645  7.32499551  4.30504308
  4.60318034  4.11216243  6.55601834  6.95528462  2.10915856  6.92921387
  4.7728779   2.92917617  7.68880837  6.26208561  5.48397829  4.82067284
  6.856619    2.82626664  3.77201875  5.22490812  7.19691745  5.64349641
  8.76825171  4.45038736  4.55680633  5.72007825  9.80496068  6.5780111
  8.22520366  6.00110857  2.52219856  7.37474488  5.12050325  4.38510797
  5.87268975  4.95223669  2.49321987  6.86282704  7.38558312  3.37820344
  3.1999073   3.91687121  6.23861849  4.74343951  7.4596431   6.83678453
  3.67436698  2.34695862  5.24006981  6.25929809  7.72538188  7.48895678
  2.97341732  4.44366663  7.51019815  4.50708056  5.37960681  1.89480768
  6.31864277  4.75096468  6.44589318 -0.5635639   7.80914491  7.25888018
  5.12304482  8.63566764  6.10530233  5.28678615  6.12161702  6.56091899
  3.53676677  4.45407651  3.89862515  7.82306093  3.92839999  5.52211966
  6.42320413  2.91940424  4.99691265  4.47076355  5.30224833  7.27149675
  4.2114614   5.28791113  6.90579792  2.08827049  6.41892735  4.01575618
  5.60045075  4.12370353  6.63025171  4.19008018  4.55176754  4.98543541
  6.55283282  2.94159782  4.90527637  4.81897743  4.68581593  5.28813007
  7.40018245  5.55670382]

In [75]:
r2_score(y_test,y_pred)

0.6763800727408213

In [77]:
scores=[]
for i in range(10000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [80]:
scores[np.argmax(scores)]

0.7783930591662221

In [81]:
np.argmax(scores)

7409

In [83]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.7783930591662221

In [84]:
import pickle

In [85]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [92]:
pipe.predict(pd.DataFrame([['Maruti Baleno Delta',2015,10000,'Diesel','Automatic',16,1200]],columns=['full_name','year','km_driven','fuel_type','transmission_type','mileage','engine']))

array([7.73721046])